/* DEFAULT STYLINH RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(30deg, #5C6642, #D7FF73);
}

.container {
    background-color: #979991;
    border-radius: 7px;
    box-shadow: 30px 40px 50px rgba(38, 38, 38, 1);
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: #333;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

td {
    flex: 1;
    padding: 2px;
}

.text-field {
    width: auto;
    height: 80px;
    padding: 20px 10px;
    font-size: 1.5rem;
    font-weight: 400;
    border: 3px groove black;
    border-radius: 15px;
}

.btn, #btn-equal {
    width: 100%;
    padding: 20px 20px;
    background-color: #e6e6dd;
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    border: 3px groove black;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
}

#btn-clear {
    width: 115px;
    height: 80px;
    background-color: #e6e6dd;
    color: #333;
    font-size: 3rem;
    font-weight: 400;
    border: 3px groove black;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
}

.btn:hover, 
#btn-equal:hover, 
#btn-clear:hover {
    background-color: #3e8e41;
    color: white;
}

.btn.keyPressed,
#btn-equal.keyPressed,
#btn-clear.keyPressed {
    background-color: #3e8e41;
    color: white;
}
